.advantages {
  color: @color-black;
  background-color: @color-white;
}

.advantages__header {
  .block-header();
}

.advantages__text {
  .block-text();
}


@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    min-height: 330px;
  }

  .advantages__item {
    max-width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    max-width: 400px;
  }
}

.advantages__icon-home {
  width: 37px;
  height: 36px;

  path, rect
  {
    fill: @color-blue;
  }
}

.advantages__icon-souveniers {
  width: 32px;
  height: 38px;

  path {
    fill: @color-blue;
  }
}

.advantages__icon-eat {
  width: 40px;
  height: 35px;

  path, polygon, circle {
    fill: @color-blue;
  }
}
