.background__image {
  position: relative;
  width: 320px;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .background__image {
    width: 786px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .background__image--index {
    height: 518px;
  }

  .background__image--other {
    height: 280px;
  }
}

.background__slogan {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
