.background {
  position: relative;
}

.background__text {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.background__text--index {
  width: 281px;
  height: 214px;
  background-image: url("../../img/text-sedona-index.svg");
}

.background--slogan-common {
  width: 229px;
  height: 39px;
  background-image: url("../../img/text-sedona.svg");
}
