.background {
  margin-bottom: 43px;
  position: relative;
}

.background__slogan {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.background__slogan--index {
  background-image: url(/img/text-sedona-index.svg);
  background-size: 100%;
  width: 281px;
  height: 214px;
}

.background__triangle {
  position: absolute;
  bottom: -1px;
}

@media (min-width: @tablet-width) {
  .background__slogan--index {
    width: 460px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
}
