.copyright {
  display: flex;
}

.copyright__text {
  .block-text();
  line-height: 26px;
  margin-right: 11px;
  margin: 0;
  margin-right: 12px;
  margin-top: 3px;
  font-weight: 700;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  margin-bottom: 5px;
}

.copyright__link {
  &:hover {
    fill: @color-blue;
  }

  &:active {
    opacity: 30%;
  }
}
