.find-hotel {
  min-height: 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.find-hotel__header {
  .block-header();
  font-size: 21px;
}

.find-hotel__text {
  .block-text();
  line-height: 24px;
}

.find-hotel__map {
  width: 320px;
  height: 350px;
}

.find-hotel__button {
  margin-bottom: 50px;
}

@media (min-width: @tablet-width) {
  .find-hotel {
    min-height: 670px;
  }

  .find-hotel__map {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .find-hotel {
    min-height: 680px;
  }

  .find-hotel__map {
    width: 1200px;
    height: 350px;
  }
}
