.form-name {
  min-height: 305px;
}

.form-name__lable {
  font-size: 14px;
  line-height: 26px;
  color: @color-grey;
  text-transform: uppercase;
  margin-right: 10px;
}

.form-name__input {
  .input-black-text();
  max-width: 190px;
}

.form-name__field {
  display: flex;
  align-items: center;
  max-width: 280px;
  min-height: 60px;
}
