.form-places {
  min-height: 408px;
}

.form-places__list {
  list-style: none;
  margin: o;
  padding: 0;
}

.form-places__lable {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.form-places__list-item {
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .form-places {
    min-height: 300px;
  }
}
