.form-impression {
  min-height: 288px;
}

.form-impression__list {
  list-style: none;
  min-height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-impression__lable {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.form-impression__list-item {
  padding-left: 55px;
}

.form-impression__lable {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form-impression__input + .form-impression__lable::before {
  content: "";
  position: absolute;
  left: -65px;
  top: -10px;
  width: 46px;
  height: 46px;
  background-color: @color-grey-form;
  border-radius: 50%;
}

.form-impression__input:checked + .form-impression__lable::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -50px;
  width: 16px;
  height: 16px;
  background-color: @color-grey;
  border-radius: 50%;
}
