.form-contacts {
  min-height: 286px;
}

.form-contacts__lable {
  font-size: 14px;
  text-transform: uppercase;
  color: @color-grey;
  margin-left: 22px;
  line-height: 31px;
}

.form-contacts__field {
  position: relative;
  margin: 0;
  margin-bottom: 16px;
}

.form-contacts__input {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 58px;
  padding-left: 22px;
}

.form-contacts__lable::after {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-contacts__lable--phone::after {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.form-contacts__lable--email::after {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
}

.form-contacts__input,
.form-contacts__input::placeholder {
  .input-black-text();
}

.form-contacts__input::-ms-input-placeholder {
  .input-black-text();
}

.form-contacts__input:focus::placeholder {
  color: transparent;
}

@media (min-width: @tablet-width) {
  .form-contacts {
    min-height: 300px;
  }

  .form-contacts__field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 25px;
    position: relative;
  }

  .form-contacts__field:nth-child(2) {
    &::before {
      content: "";
      position: absolute;
      top: -37px;
      width: 125px;
      height: 1px;
      background-color: rgba(1, 1, 1, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      top: -37px;
      right: 0;
      width: 125px;
      height: 1px;
      background-color: rgba(1, 1, 1, 0.1);
    }
  }
}

@media (min-width: @desktop-width) {
  .form-contacts__field {
    width: 477px;
    display: inline-block;
  }

  .form-contacts__field:nth-child(2) {
    width: 400px;

    &::before {
      top: -89px;
      width: 280px;
    }

    &::after {
      top: -89px;
      right: -556px;
      width: 280px;
    }
  }

  .form-contacts__field:nth-child(3) {
    margin-left: 77px;
  }

  .form-contacts__lable::after {
    bottom: 0;
    right: 0;
  }

  .form-contacts__input {
    width: 316px;
  }

  .form-contacts__lable {
    margin-left: 0;
    margin-right: 7px;
  }

  .hidden-on-desktop {
    display: none;
  }
}
