.form-emotions {
  min-height: 272px;
}

.form-emotions__text,
.form-emotions__text::placeholder {
  .input-black-text();
  font-family: @font-PTSans;
  font-size: 18px;
  line-height: 26px;
}

.form-emotions__text {
  background-color: @color-grey-form;
  border: none;
  resize: none;
  padding: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .form-emotions__text {
    min-width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .form-emotions__text {
    min-width: 960px;
  }
}
