.form-contacts {
  min-height: 286px;
}

.form-contacts__lable {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: @color-grey;
  margin-left: 22px;
}

.form-contacts__field {
  position: relative;
}

.form-contacts__input {
  height: 58px;
  padding-left: 22px;
}

.form-contacts__lable::after {
  width: 58px;
  height: 59px;
  background-color: #e6e6e6;
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 1px;
  right: 0;
}

.form-contacts__lable--phone::after {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.form-contacts__lable--email::after {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
}

.form-contacts__input,
.form-contacts__input::placeholder {
  .input-black-text();
}

.form-contacts__input:focus::placeholder {
  color: transparent;
}

@media (min-width: @tablet-width) {
  .form-contacts {
    min-height: 300px;
  }

  .form-contacts__input {
    max-width: 100%;
  }

  .form-contacts__field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
