.form-impression {
  min-height: 288px;
}

.form-impression__list {
  list-style: none;
  min-height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.form-impression__lable {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form-impression__list-item {
  padding-left: 63px;
  margin-bottom: 41px;
}

.form-impression__input + .form-impression__lable::before {
  content: "";
  position: absolute;
  left: -75px;
  top: -10px;
  width: 47px;
  height: 47px;
  background-color: @color-grey-form;
  border-radius: 50%;
}

.form-impression__lable:hover::before {
  background-color: @color-grey-form-hover;
}

.form-impression__lable:active::before {
  background-color: @color-radio-active;
}

.form-impression__input:checked + .form-impression__lable::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -60px;
  width: 17px;
  height: 17px;
  background-color: @color-grey;
  border-radius: 50%;
}

.form-impression__lable:active::after {
  opacity: 30%;
}
