.form-places {
  min-height: 408px;
}

.form-places .review-form__legend {
  padding-top: 23px;
  padding-bottom: 26px;
}

.form-places__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  width: 100%;
}

.form-places__lable {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 10px;
}

.form-places__list-item {
  margin-bottom: 54px;
  padding-left: 67px;
}

.form-places__list-item:nth-child(4) {
  margin-bottom: 25px;
}

.form-places__input:focus + .form-places__lable {
  outline: 1px solid @color-blue;
}

.form-places__input + .form-places__lable::before {
  content: "";
  position: absolute;
  left: -68px;
  top: -10px;
  width: 52px;
  height: 52px;
  background-color: @color-grey-form;
  border-radius: 10%;
}

.form-places__lable:hover::before {
  background-color: @color-grey-form-hover;
}

.form-places__lable:active::before {
  background-color: @color-radio-active;
}

.form-places__input:checked + .form-places__lable::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -52px;
  width: 25px;
  height: 17px;
  border-radius: 50%;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form-places__lable:active::after {
  opacity: 30%;
}

@media (min-width: @tablet-width) {
  .form-places {
    min-height: 300px;
  }

  .form-places .review-form__legend {
    padding-top: 32px;
    padding-bottom: 57px;
  }

  .form-places__list {
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      top: -81px;
      left: -71px;
      width: 125px;
      height: 1px;
      background-color: rgba(1, 1, 1, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      top: -81px;
      right: -71px;
      width: 125px;
      height: 1px;
      background-color: rgba(1, 1, 1, 0.1);
    }
  }

  .form-places__list-item:nth-child(odd) {
    margin-right: 97px;
    margin-left: 85px;
  }

  .form-places__list-item {
    padding-left: 0;
    width: 150px;
    margin-bottom: 65px;
  }

  .form-places__input + .form-places__lable::before {
    top: -13px;
    width: 55px;
    height: 55px;
  }

  .form-places__input:checked + .form-places__lable::after {
    top: 7px;
    left: -50px;
  }

  .form-places__lable {
    padding-left: 15px;
  }
}

@media (min-width: @desktop-width) {
  .form-places {
    min-height: 200px;
  }

  .form-places__list {
    max-width: 960px;
    justify-content: flex-start;

    &::before {
      top: -85px;
      left: 0;
      width: 280px;
    }

    &::after {
      top: -85px;
      right: 0;
      width: 280px;
    }
  }

  .form-places__list-item {
    width: 210px;
    margin-right: 35px;
    padding-left: 10px;
  }

  .form-places__list-item:not(:nth-child(2)) {
    padding-left: 0;
  }

  .form-places__list-item:nth-child(odd) {
    margin-right: 35px;
    margin-left: 0;
  }

  .form-places__list-item:nth-child(4n) {
    margin-right: 0;
  }

  .form-places__list-item:nth-child(2) {
    margin-right: 50px;
  }

  .form-places__list-item:nth-child(3) {
    margin-right: 26px;
  }

  .form-places__list-item:nth-child(4) {
    width: 200px;

    .form-places__lable {
      padding-left: 78px;
    }
  }

  .form-places__lable {
    padding-left: 80px;
    box-sizing: border-box;
  }

  .form-places__input + .form-places__lable::before {
    left: 0;
  }

  .form-places__input:checked + .form-places__lable::after {
    top: 7px;
    left: 15px;
  }
}
