.navigation {
  text-transform: uppercase;
  margin: 0 auto;
  width: 320px;
  min-height: 220px;
  background-color: @color-blue;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  min-height: 55px;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);

  a {
    color: @color-white;
    text-decoration: none;
  }
}

.navigation__item:active {
  background-color: @color-blue-active;

  a {
    color: rgba(255, 255, 255, 0.3);
  }
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 -7px 7px -8px rgba(0, 0, 0, 0.4);
}

@media (min-width: @tablet-width) {
  .navigation {
    background: @color-white;

    width: @tablet-width;
    min-height: 56px;
  }

  .navigation__list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    box-shadow: none;
  }

  .navigation__list li:nth-child(2) {
    padding-right: 65px;
  }

  .navigation__list li:nth-child(3) {
    padding-left: 91px;
  }

  .navigation__item {
    flex-direction: row;
    min-width: 153px;

    .block-header();
    font-size: 14px;

    box-shadow: none;

    &:active {
      background-color: @color-white;
    }

    a {
      color: @color-black;

      &:hover,
      &:focus {
        color: @color-blue;
      }

      &:active {
        color: @color-black;
        opacity: 30%;
      }
    }
  }

  .navigation__item--active {
    a {
      color: @color-active;

      &:hover,
      &:focus {
        color: @color-active-hover;
      }

      &:active {
        color: @color-active;
        opacity: 30%;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .navigation {
    width: @desktop-width;
  }
}
