.navigation {
  background: #81b3d2;
  text-transform: uppercase;
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
    a {
      color: white;
      text-decoration: none;
    }
}

