.navigation {
  background: #81b3d2;
  text-transform: uppercase;
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
