.page-header {
  position: relative;
  margin: 0 auto;
  margin-bottom: 56px;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .page-header {
    min-height: 56px;
    min-width: 768px;
    margin-bottom: 0px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-height: 56px;
    min-width: 1200px;
  }
}
