.photo__header {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  color: @color-grey;
}

.photo__likes {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
