.photo {
  min-height: 392px;
}

.photo__header {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  color: @color-grey;
  margin: 0;
  margin-bottom: 5px;
}

.photo__likes {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
}

.photo-icon-like {
  width: 23px;
  height: 21px;
  opacity: 0.3;
  margin-right: 12px;
  fill: @color-black;
}

.photo__footer {
  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .photo {
    position: relative;
    min-height: 347px;
  }

  .photo__likes {
    position: absolute;
    right: 27px;
    bottom: 25px;
  }

  .photo:nth-child(2) .photo__likes {
    right: 20px;
  }

  .photo:nth-child(4) .photo__likes {
    right: 35px;
  }

  .photo-icon-like {
    margin-right: 8px;
  }

  .photo__footer {
    width: 100%;
    background-color: @color-grey-likes;
    height: 80px;
    margin: 0;
    padding: 15px 20px 20px 20px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    position: relative;
    min-height: 267px;
  }

  .photo-icon-like {
    fill: @color-white;
    opacity: 1;
  }

  .photo__footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: @color-white;
    position: absolute;
    bottom: 0;
  }

  .photo__author {
    color: @color-white;
  }

  .photo__likes {
    right: 25px;
    bottom: 25px;
  }

  .photo:nth-child(2) .photo__likes {
    right: 20px;
  }

  .photo:nth-child(4) .photo__likes {
    right: 35px;
  }
}
