.point-reason {
  min-height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.point-reason__description {
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

.point-reason h3 {
  margin: 0;
}

.point-reason__image {
  width: 320px;
  height: 260px;
}

.point-reason__image--city {
  background-image: url("../img/main-city-mobile@1x.jpg");
}

.point-reason__image--bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
}

.point-reason__header {
  .block-header();
}

.point-reason__number,
.point-reason__text {
  .block-text();
}

.text-wrapper {
  max-width: 280px;
}

@media (min-width: @tablet-width) {
  .point-reason {
    min-height: 256px;
  }

  .point-reason__image {
    width: 512px;
    height: 256px;
  }

  .point-reason__image--city {
    background-image: url("../img/main-city-tablet@1x.jpg");
  }

  .point-reason__image--bridge {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
  }

  .point-reason__description {
    max-width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .point-reason__image {
    width: 800px;
    height: 256px;
  }

  .point-reason__description {
    max-width: 400px;
  }
}
