.reasons {
position: relative;
}

.reasons__background-triangle {
  position: absolute;
}

.reasons__item--blue {
  background-color: @color-blue;
  color: @color-white;
}

.reasons__item--grey {
  background-color: #efefef;
}

.reasons ol,
.reasons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reasons__item:nth-child(1),
  .reasons__item:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__item--width {
    max-width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__item--width {
    min-width: 400px;
  }
}
