.review-form {
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.review-form input {
  padding-left: 20px;
  padding-right: 20px;
}

.review-form .review-form-error {
  border: 2px solid tomato;
  box-sizing: border-box;
}

.review-form input:hover {
  background-color: @color-grey-form-hover;
}

.review-form input:focus {
  background-color: @color-white;
  border: 3px solid @color-grey-form-hover;
  box-sizing: border-box;
  outline: none;
}

.review-form__legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 25px;
  padding-top: 25px;
}

.review-form fieldset {
  max-width: 280px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: relative;

  input {
    background-color: @color-grey-form;
    border: none;
  }

  &::after {
    content: "";
    background-color: rgba(1, 1, 1, 0.1);
    height: 1px;
    width: 320px;
    position: absolute;
    top: 5px;
    left: -20px;
  }

  &:nth-child(1)::before {
    content: "";
    background-color: rgba(1, 1, 1, 0.1);
    height: 1px;
    width: 320px;
    position: absolute;
    top: 5px;
  }
}

.review-form__button {
  width: 280px;
  margin-bottom: 50px;
}

.review-form__contacts .review-form__legend,
.review-form__emotions .review-form__legend {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .review-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 648px;
  }

  .review-form fieldset {
    max-width: 648px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .review-form__legend {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 55px;
    padding-top: 45px;
    letter-spacing: 0.4px;
  }

  .review-form__impression {
    order: 1;
    min-height: 360px;
    width: 320px;
  }

  .review-form__name {
    order: 2;
    min-height: 360px;
    width: 320px;
    box-sizing: border-box;
  }

  .review-form__name .review-form__legend {
    padding-right: 40px;
  }

  .review-form__impression .review-form__legend {
    padding-right: 39px;
  }

  .review-form__contacts {
    flex-grow: 1;
    order: 3;
    min-height: 320px;

    .review-form__legend {
      padding-top: 40px;
    }
  }

  .review-form__places {
    flex-grow: 1;
    order: 4;

    .review-form__legend {
      width: 280px;
      padding-top: 30px;
    }
  }

  .review-form__emotions {
    order: 5;
    min-width: 648px;
  }

  .review-form__footer {
    order: 6;
    width: 648px;
    display: flex;
    justify-content: space-between;
  }

  .review-form__button {
    width: 325px;
  }
}

@media (min-width: @desktop-width) {
  .review-form {
    max-width: 960px;
  }

  .review-form__impression {
    min-width: 450px;
  }

  .review-form__name {
    min-width: 450px;
  }

  .review-form__contacts {
    width: 100%;
    min-height: 220px;
  }

  .review-form__places {
    width: 100%;
    min-height: 200px;
  }

  .review-form__emotions {
    width: 100%;
    min-height: 290px;
  }

  .review-form__button {
    width: 480px;
  }

  .review-form__footer {
    width: 960px;
  }
}
