.review-form {
  max-width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.review-form input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

.review-form .review-form-error {
  border: 2px solid tomato;
  box-sizing: border-box;
}

.review-form input:hover {
  background-color: @color-grey-form-hover;
}

.review-form input:focus {
  background-color: @color-white;
  border: 3px solid @color-grey-form-hover;
  box-sizing: border-box;
  outline: none;
}

.review-form__legend {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  padding-bottom: 21px;
  padding-top: 25px;
  align-self: center;
}

.review-form fieldset {
  max-width: 280px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: relative;

  input {
    background-color: @color-grey-form;
    border: none;
  }

  &::after {
    content: "";
    background-color: rgba(1, 1, 1, 0.1);
    height: 1px;
    width: 320px;
    position: absolute;
    top: 5px;
    left: -20px;
  }
}

.review-form__button {
  width: 280px;
}

.review-form__contacts .review-form__legend {
  padding-bottom: 17px;
}

.review-form__emotions .review-form__legend {
  padding-bottom: 18px;
}

.review-form__footer {
  margin-bottom: 70px;
}

@media (min-width: @tablet-width) {
  .review-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 648px;
    margin: 0 auto;
  }

  .review-form fieldset {
    max-width: 648px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .review-form__legend {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 55px;
    padding-top: 45px;
    letter-spacing: 0.4px;
  }

  .review-form__impression {
    order: 1;
    min-height: 360px;
    width: 320px;
  }

  .review-form__name {
    order: 2;
    min-height: 360px;
    width: 320px;
    box-sizing: border-box;
  }

  .review-form__name .review-form__legend {
    padding-right: 40px;
    box-sizing: border-box;
  }

  .review-form__impression .review-form__legend {
    padding-right: 39px;
    box-sizing: border-box;
  }

  .review-form__contacts {
    flex-grow: 1;
    order: 3;
    min-height: 320px;

    .review-form__legend {
      padding-top: 40px;
      margin: 0 auto;
    }
  }

  .review-form__places {
    flex-grow: 1;
    order: 4;

    .review-form__legend {
      width: 280px;
      padding-top: 30px;
      padding-left: 0;
    }
  }

  .review-form__emotions {
    order: 5;
    min-width: 648px;

    .review-form__legend {
      padding-top: 20px;
      margin-bottom: 40px;
    }
  }

  .review-form__emotions span {
    &::before {
      content: "";
      position: absolute;
      top: 32px;
      left: 0;
      width: 125px;
      height: 1px;
      background-color: rgba(1, 1, 1, 0.1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 32px;
      right: 0;
      width: 125px;
      height: 1px;
      background-color: rgba(1, 1, 1, 0.1);
    }
  }

  .review-form__footer {
    order: 6;
    width: 648px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .review-form__button {
    width: 325px;
  }

  .review-form__places .review-form__legend {
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .review-form {
    max-width: 960px;
  }

  .review-form fieldset {
    max-width: 960px;
  }

  .review-form__impression {
    min-width: 450px;
  }

  .review-form__name {
    min-width: 470px;
  }

  .review-form__contacts {
    width: 100%;
    min-height: 220px;
  }

  .review-form__contacts .review-form__legend {
    display: block;
    padding-top: 30px;
    margin-bottom: 53px;
  }

  .review-form__places {
    width: 100%;
    min-height: 200px;
  }

  .review-form__emotions {
    width: 100%;
    min-height: 290px;
  }

  .review-form__button {
    width: 480px;
  }

  .review-form__footer {
    width: 960px;
    margin-bottom: 90px;
  }

  .review-form__legend {
    padding-bottom: 60px;
    padding-top: 30px;
    padding-left: 10px;
  }

  .review-form .form-contacts {
    display: block;
    min-height: 200px;
  }

  .review-form__name .review-form__legend {
    padding-right: 167px;
    padding-bottom: 58px;
  }

  .review-form__impression .review-form__legend {
    padding-right: 60px;
    padding-bottom: 55px;
  }

  .review-form__emotions .review-form__legend {
    padding-top: 17px;
  }

  .review-form__places .review-form__legend {
    padding-bottom: 57px;
    padding-top: 27px;
  }

  .review-form__emotions span {
    &::before {
      top: 32px;
      left: 0;
      width: 280px;
    }

    &::after {
      top: 32px;
      right: 0;
      width: 280px;
    }
  }
}
