.review-form {
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.review-form__legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.review-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .review-form {
    display: flex;
    flex-wrap: wrap;
  }

  .review-form__impression {
    order: 1;
    min-height: 360px;
    max-width: 320px;
  }

  .review-form__name {
    order: 2;
    min-height: 360px;
    max-width: 320px;
  }

  .review-form__contacts {
    flex-grow: 1;
    order: 3;
    min-height: 320px;
  }

  .review-form__places {
    flex-grow: 1;
    order: 4;
  }

  .review-form__emotions {
    order: 5;
    min-width: 648px;
  }

  .review-form__button {
    order: 6;
  }

  .review-form fieldset {
    border: 1px solid gray;
  }
}

@media (min-width: @desktop-width) {
  .review-form__impression {
    min-width: 550px;
  }

  .review-form__name {
    min-width: 550px;
  }

  .review-form__contacts {
    width: 100%;
    min-height: 220px;
  }

  .review-form__places {
    width: 100%;
    min-height: 200px;
  }

  .review-form__emotions {
    width: 100%;
    min-height: 290px;
  }
}
