.social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 159px;
}

.social__link {
  display: inline-block;
  background-color: @color-blue;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}
