.video-presentation {
  min-height: 460px;
}

.video-presentation__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.video-presentation__text {
  font-size: 14px;
  line-height: 23px;
  color: @color-grey;
  text-transform: uppercase;
}
