.video-presentation {
  min-height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.video-presentation__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.video-presentation__text {
  font-size: 14px;
  line-height: 23px;
  color: @color-grey;
  text-transform: uppercase;
}

.video-presentation__video {
  position: relative;
  width: 321px;
  height: 201px;
}

.video-presentation__controls {
  position: absolute;
  bottom: -67px;
  left: 20px;
  height: 111px;
  width: 280px;
}

.video-presentation__controls-top {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 45px;
}

.video-presentation__controls-bottom {
  background-color: @color-grey-form;
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;

  svg {
    fill: #5c6870;
  }
}

.video-presentation__range {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video-presentation__toggle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: @color-white;
  position: absolute;
  margin: 0;
  top: 17px;
  left: 57px;
}

.video-presentation__icon-replay {
  margin-right: 133px;
}

@media (min-width: @tablet-width) {
  .video-presentation__video {
    width: 648px;
    height: 499px;
  }

  .video-presentation__range {
    width: 389px;
    margin-left: 93px;
  }

  .video-presentation__toggle {
    top: 41px;
    left: 205px;
  }

  .video-presentation__controls-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding-right: 40px;
    padding-left: 35px;

    svg {
      fill: @color-white;
    }
  }

  .video-presentation__icon-replay {
    margin-right: 450px;
  }

  .video-presentation__controls-top {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }

  .video-presentation__controls {
    width: 100%;
    height: 93px;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .video-presentation__video {
    width: 800px;
    height: 500px;
  }
}
