@color-white: #ffffff;
@color-black: #000000;
@color-grey: #333333;
@color-blue: #81b3d2;
@color-blue-hover:#669ec0;
@color-blue-active:#5496bd;
@color-grey-likes: #eaeaea;
@color-grey-form: #f2f2f2;
@color-active: #766357;
@color-active-hover: #604e43;

@font-PTSans: "PTSans", "Arial", sans-serif;

@tablet-width: 768px;
@desktop-width: 1200px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
